<mat-form-field>
    <input 
      matInput 
      [placeholder]="placeholder" 
      [type]="hidePassword ? 'password' : 'text'" 
      [ngModel]="value" 
      [name]="name"
      (ngModelChange)="onValueChanged($event)" 
      required
    >
    <button 
      mat-icon-button 
      matSuffix 
      (click)="togglePassword($event)" 
      [attr.aria-label]="'Hide password'" 
      [attr.aria-pressed]="hidePassword"
    >
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>